/*COLORES*/
$primer__color: #e0ff00;
$blanco: #ffffff;
$negro: #000000;
$gris__oscuro: #121212;
$gris: #242424;
$rojo: red;
$verde: #18d26e;

/*FIN DE COLORES*/

/*TAMAÑO DE FUENTES*/
$h1: 42px;
$h2: 32px;
$h3: 26px;
$botones: 16px;
$text: 14px;
/*FINAL DE TAMAÑOS DE FUENTES*/